* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h2 {
    .secondary-headings(34px);
}

p {
    .primary-paragraphs(14px);
}

button {
    .primary-button();
}

img {
    width: 100%;
    height: auto;
}

.menu {
    font-size: 2rem;
    color: black;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}