* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h2 {
    .secondary-headings(2.5rem);
}

p {
    .primary-paragraphs(1.4rem);
}

button {
    .primary-button();
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

// ======== CTA Sections =========
.cta-section {
    text-align: center;
    padding: 100px 0;
    color: white;

    @media @tablet {
        padding: 150px 0;
    }
    
    @media @desktop {
        padding: 200px 0;
    }

    .cta {
        img {
            width: 85%;
        }

        @media @tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;

            img {
                width: 40%;
            }
        }

        .cta-description {

            p {
                margin: 30px 0;
            }

            button {
                margin-bottom: 80px;

                a{
                    color: white;
                }
            }

            button:hover {
                background: lighten(@secondary-blue, 5%);
            }

            @media @tablet {
                width: 50%;
                button {
                    margin-bottom: 0;
                }
            }

            @media @desktop {
                width: 50%;
                h2 {
                    font-size: 3.5rem;
                }
                p {
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                }
            }
        }
    }
}

// ========== App display sections =========
.app-display-section {
    padding: 150px 0;
    text-align: center;
    
    @media @desktop {
        padding: 200px 0;
    }

    .app-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 90%;
        }

        @media @tablet {
            img {
                width: 60%;
            }
        }

        @media @desktop {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;

            img {
                width: 40%;
            }
        }

        .app-description {
            width: 100%;

            p {
                margin: 30px 0;
            }

            @media @tablet {
                width: 70%;
            }

            @media @desktop {
                width: 50%;

                h2 {
                    font-size: 3.5rem;
                }

                p {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
    }
}