.home {
    
    .cta-one {
        background: @primary-blue;
    }

    .track {
        .app-container {
            @media @desktop {
                img {
                    order: -1;
                }
            }
        }
    }

    .report {
        background: @primary-blue;
        color: white;
    }

    .cta-two {
        background: #81CFF6;
        .cta {
            @media @desktop {
                img {
                    order: -1;
                }
            }
        }
    }
}