.home {
    .introduction {
        background: @primary-blue;
        height: 100vh;
        text-align: center;
        color: white;

        header {
            .disp-flex(space-between, center);
            padding-top: 15px;
            padding-bottom: 15px;

            .logo {
                .primary-logo(17px);
                color: white;
            }

            .menu {
                color: white;
            }
        }

        .cta {
            margin-top: 80px;
            p {
                margin: 25px 0;
            }

            img {
                margin-top: 200px;
            }
        }

    }
}