.home {
    .introduction {
        background: @primary-blue;
        height: 100vh;
        text-align: center;
        color: white;

        header {
            .disp-flex(space-between, center);
            padding-top: 15px;
            padding-bottom: 15px;

            .logo {
                .primary-logo(17px);
                color: white;
            }

            .menu {
                color: white;
            }
        }

        .cta {
            margin-top: 80px;
            p {
                margin: 25px 0;
            }

            img {
                position: absolute;
                width: 100%;
                margin-top: 200px;
                bottom: 0;
                left: 0;
            }
        }

    }

    .track {
       margin: 50px 0;
       text-align: center;

       p {
           margin: 25px 0;
       }
    }

    .report {
        padding-top: 80px;
        padding-bottom: 80px;
        background: @primary-blue;
        color: white;
        text-align: center;
        p {
            margin: 25px 0;
        }
    }

    .final-cta {
        height: 100vh;
        background: #88B2D8;
        color: white;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;

        .cta {
            p {
                    margin: 25px 0;
            }

            img {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    footer{
        background: #88b2d8;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        color: white;
        .footer-logo {
            .primary-logo(14px);
        }
    }
}