header {
    background: @primary-blue;
    
    .nav-bar {
        .disp-flex(space-between, center);
        padding-top: 15px;
        padding-bottom: 15px;
        background: transparent;

        .logo {
            .primary-logo(17px);
            color: white;
        }

        .menu {
            color: white;
        }
    }
}